$color-main-1: #c72f43
$color-main-2: #e47d8b

$color-gold: #f7bb4c

.card
  margin: 0
  padding: 0
  border: 0
  background: #fff

  color: #242522
  padding: 2rem 1rem
  width: 70vw

  border-radius: 15px
  border: 1px transparent solid

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  gap: 1rem

.aluno
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

.foto
  width: 50%
  height: auto
  border-radius: 50%

.nome
  color: $color-main-1
  font-size: 1.25rem
  font-weight: 500
  width: 90%

.turma
  font-size: 1rem
  margin-top: -.5rem
  color: $color-main-2

.apresentacao
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  width: 80%
  text-align: center

.titulo
  font-size: 1.1rem
  font-weight: 600

.categoria
  margin-top: -.5rem
  font-size: .75rem
  font-weight: 400

.selectBtn
  background-color: $color-gold
  width: 60%
  padding: .75rem 1rem
  color: #f9fff1
  border-radius: 15px
  font-size: 1rem
  cursor: pointer
  border: 1px transparent solid

.selecionado
  border-color: $color-gold

  .selectBtn
    border-color: $color-gold
    background: transparent
    color: inherit
    color: $color-gold

@media screen and (min-width: 600px)
  .card
    width: 20rem
